.shape {
  position: relative;
  overflow: hidden;
  height: 180px;
}

.shape::before {
  border-radius: 100%;
  position: absolute;
  background: var(--bs-white);
  right: -200px;
  left: -200px;
  top: -200px;
  content: "";
  bottom: 0;
  z-index: 3;
}

.shapes-container {
  background: linear-gradient(
    90deg,
    rgb(93, 161, 238) 0%,
    rgb(110, 178, 224) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 100%;
  height: 400px;
  display: block;
  position: relative;
}

.text-container {
  width: 60%;
  height: calc(100vh - 250px);
  background-color: white;
  position: absolute;
  top: 150px;
  left: 20%;
  right: 20%;
}

.shape2 {
  position: absolute;
  overflow: hidden;
  height: 150px;
  width: 100%;
  top: 40px;
}

.shape2::before {
  border-radius: 100%;
  position: absolute;
  background: linear-gradient(
    90deg,
    rgb(93, 161, 238) 0%,
    rgb(110, 178, 224) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  right: -200px;
  left: -200px;
  top: -200px;
  content: "";
  bottom: 0;
  z-index: 2;
}

.question-mark {
  z-index: 4;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  top: 70px;
  color: rgb(110, 178, 224);
}

.question-mark-container {
  position: relative;
  display: block;
  width: 100%;
}

.navigation {
  background-color: rgb(67, 116, 172);
}

.main-page {
  color: rgb(0, 60, 139);
}

.button {
  background-color: rgb(67, 116, 172);
}

.social {
  position: absolute;
  bottom: 50px;
}

.fa-facebook {
  color: #0778e9;
}

.fa-twitter {
  color: #1d9bf0;
}

@media (max-width: 850px) {
  .text-container {
    width: 80%;
    left: 10%;
    right: 10%;
  }

  .main-page {
    font-size: xx-large;
  }
}

@media (max-width: 500px) {
  .text-container {
    width: 90%;
    left: 5%;
    right: 5%;
  }

  .main-page {
    font-size: larger;
  }

  .social {
    top: -140px;
    z-index: 5;
    left: -20px;
  }
}
.link {
  text-decoration: none;
  color: #fff;
}
.link:hover {
  color: rgb(118, 173, 245);
}
.signup-h1 {
  color: rgb(0, 60, 139);
}
.error {
  color: red;
}